body {
    display: flex;
    justify-content: center;
    font-family: 'Outfit';
    background-color: #f0f0f0;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #0c0c0c;
    font-weight: bold;
}

.links {
    font-size: 1.2rem;
}

.links:hover {
    color: #52a7bd;
}